@media (max-width: 768px){
    .footer-about{
        margin-top: 6px !important;

        &__content {
            padding-top: 86px !important;
        }

        &__title {
            font-size: 42px !important;
        }

        &__forks {
            padding-bottom: 66px !important;
        }
    }
}
@media (max-width: 745px) {
    .footer-about__forks {
        justify-content: center!important;
    }
}
@media (max-width: 685px){
    .footer-about__content {
        padding-top: 57px !important;
    }
    .footer-about__forks{
        flex-direction: column;
        row-gap: 41px !important;
    }

    .footer-about__info::after{
        width: 100% !important;
    }
    
}

@media (max-width: 320px){
    .footer-about__title{
        font-size: 36px !important;
    }
    .footer-about__info{
        padding: 0 20px;
    }
}