
@media (max-width:891px){
    .header__menu-right{
        margin: 0 auto;
    }
}
@media (max-width:768px) {
    .header{

        &__menu {
            padding-top: 22px;
        }
        &__nav{
            justify-content: center !important;
            padding-left: 0 !important;
        }
    }
    .header-btn{
        &--right{
        position: absolute;
        right: 20px;
        top: 31px;
        }
    }
    .header-content{
        background-color: #27262A;
        background-size: 100% 118px;
    }
    
}
@media (max-width:415px){
            .header-logo__text {
                display: none;
            }
            .header-btn {
                &--right {
                    right: 50% !important;
                }
            }
}
@media(max-width:590px){
    .header{
        &__item {
            display: none;
        }

            .burger-btn{
        visibility: visible !important;
    }
        .header-banner__device {
            font-size: 14px !important;
        }
    }
        .header-btn {
            &--right {
                right: 35%;
                transform: translateX(50%);
                width: 119px !important;
                font-size: 15px !important;
            }
        }
        .burger-btn {
            visibility: visible !important;
        }
        .header-download {
            bottom: -45px !important;
        }
    .header-btn--download{
        padding: 15px 29px !important;
        font-size: 18px !important;
        max-width: 290px !important;
        margin-bottom: 12px !important;
    }
    
}
@media(max-width:337px){
    .header{

        &__nav{
            padding: 0 !important;
        }

        &__list--active{
            display: block !important;
            padding: 9px 0;
        }
    }
   
    .header-banner{
        padding: 49px 27px 0 !important;
        &__title{
            font-size: 48px !important;
        }
        &__subtitle{
            font-size: 18px !important;
        }
    }

}