@import './student_2/var.scss';
@import './var.scss';



.price {
    background-image: url(../img/footer/pricing/pricing_background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    min-height: 847px;
    &-overflow {
        min-height: 847px;
    }
    &-title  {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        padding-top: 81px;
        @include center;    
        color: #FFFFFF;
    }
    &-card__student {
        background: rgba(255, 255, 255, 0.11);
        max-height: 457px;
    
    }
}



.card-student__title {
    background: rgba(255, 255, 255, 0.06);
    width: 257px;
    height: 97px;
    position: relative;
    @include center;
    &-white {
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
    
        text-transform: uppercase;
        color: #FFFFFF;
    }    
}

.card-student__main {
    color: #fff;
    max-width: 257px;
    width: 100%;
    font-family: 'Montserrat';
    height: 360px;
    .card-price {
        font-weight: 400;
        font-size: 60px;
        @include center;    
        text-transform: uppercase;
        padding-top: 30px;
        color: #FFFFFF;
    }
    
    .card-long {
        padding-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        @include center;    
        text-transform: uppercase;
        margin-bottom: 38px;
        color: #FFFFFF;
    }
    
    .card-person {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        @include center;    
        padding-top: 36px;
        color: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .card-button {
        @include card-button;
    }
    
    .card-line {
        background: #8D81AC;
        width: 60px;
        height: 5px;    
        margin: 0 auto;
    }
}


.price-card {
    display: flex;
    justify-content: center;
    gap: 15px;
    &__agency {
        background: rgba(70, 48, 72, 0.89);
        margin-top: 61px;
        width: 299px;
        height: 560px;
        margin-bottom: 97px;
    }
    &__student {
        margin-top: 112px;
    }
}

.card-agency__title {
    background: rgba(0, 0, 0, 0.11);
    width: 299px;
    height: 111px;
    @include center;   
    &-white {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
    
        @include center;    
        text-transform: uppercase;
    
        color: #FFFFFF;
    } 
}

.card-agency__main {
    .card-price {
        font-weight: 400;
        font-size: 82px;
        line-height: 90px;
        margin-top: 14px;        

        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .card-long {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 46px;
        display: flex;

        text-transform: uppercase;
        justify-content: center;
        color: #FFFFFF;
    }
    .card-person {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        padding-top: 40px;
        @include center;    
        color: #FFFFFF;
        max-width: 172px;
        margin: 0 auto;
    }
    .card-line {
        background: #8D81AC;
        width: 60px;
        height: 5px;
        margin: 0 auto;
    }
    .card-button {
        @include card-button;
        margin-top: 83px;
        margin-bottom: 43px;
        padding: 18px 48px;
    }
}

.card-button__top {
    margin-top: 45px!important;
}