@import './var.scss';


.revolution {
    &-title {
        color: #635C73;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
    
        text-transform: uppercase;
        @include center;    
    }
    &-text {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        max-width: 861px;
        @include center;    
        margin: 0 auto;
        color: #323232;
        margin-top: 35px;
        margin-bottom: 13px;
    }

}


.revolution-button__all {
    border: #848E97;
    border-width: 3px;
    border-color: #848E97;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.revolution-button__img {
    width: 74px;
    background-color: #ededed;
    border: 1px solid #dedbdb;
    padding: 2px 5px;
    border-radius: 7px 0px 0px 7px;
    
}


.revolution-button {
    flex-wrap: wrap;
    margin-bottom: 70px;
    display: flex;
    gap: 13px;
    justify-content: center;
    &__watch_num{
        border: 1px solid #dedbdb;
        width: 50px;
        padding: 2px 5px;
        border-radius: 0px 7px 7px 0px;
    }
    &__star_num {
        border: 1px solid #dedbdb;
        width: 57px;
        padding: 2px 5px;
        border-radius: 0px 7px 7px 0px;
    }
    
}


.code {
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    min-height: 711px;
    &-loop {
        display: flex;
        h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
        
            color: #323232;
        }
        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
    
            color: #848E97;
        }
        &__img {
            width: 111px;
            height: 64px;
        }
        &__text {
            max-width: 408px;
        
        }
        &__text {
            padding-top: 0px;
            padding-left: 23px;
            margin-bottom: 35px;
        }
        
    }
    &-tool__text {
        padding-left: 44px;
        margin-bottom: 35px;
        max-width: 408px;
    }
    
    &-expriment__text {
        padding-left: 59px;
        margin-bottom: 35px;
        max-width: 408px;
    }
    
    &-expriment__img {
        margin-left: 13px;
    }
    
    &-web__text {
        padding-left: 53px;
        max-width: 408px;
    }
    
    &-web__img {
        margin-left: 9px;
    }
    
    &-ws {
        max-width: 700px;
        background-repeat: no-repeat;
        background-position-y: 161px;
        width: 100%;
        &__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 50px;
        
            display: flex;
            align-items: center;
        
            color: #8D81AC;
            margin-bottom: 41px;
            margin-top: 94px;
            padding-left: 30px;
        }
    }

    &-tool__text--h4 {
        margin-bottom: 16px;
    }
    &-loop__text--h4 {
        margin-bottom: 16px;
    }
    &-web__text--h4 {
        margin-bottom: 16px;
    }

    &-lool__text--h4 {
        margin-bottom: 16px;
    }
    &-loop__top {
        margin-top: 95px;
    }
    position: relative;
}


.container {
    padding-left: 10px;
    padding-right: 10px;
}
.revolution-button__img {
    align-items: center;
    display: flex;
}

.revolution-button__img, 
.revolution-button__number {
    padding: 5px 5px;
}

.main {
    margin-top: 138px;
}

.picrure-redactor__screen {
    display: flex;
    justify-content: flex-end;
}