@media (max-width:1130px) {
    .container {
        max-width: 970px;
    }
    .code {
        flex-wrap: wrap;
        background-color: #fff;
        &-ws {
            margin-left: auto;
            display: flex;
            position: relative;
            overflow: hidden;
            justify-content: center;
            min-height: 519px;
            display: block;
            position: relative;
            margin-top: 73px;
            &__text {
                display: none;
                position: absolute;
                font-size: 42px;
                line-height: 44px;
                padding-left: 0;
                top: -90px;
            }
        }
    }
    .code-all__text {
        max-width: 585px;
    }
    
    .code-loop__before::before {
        content: '<Here is what you get>'; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 44px;
        @include center;    
        padding-bottom: 54px;
        color: #8D81AC;
    
    }
    .code-loop__top {
        margin-top: 0px;
    }
    .revolution {
        &-inner {
            margin-bottom: 93px;
        }
        &-text {
            margin-top: 33px;
            margin-bottom: 24px;
        }
        &-button {
            margin-bottom: 159px;
        }
    }
}

@media (max-width:992px ) {
    .revolution {
        &-title {
            font-size: 42px;
            line-height: 42px;
        }
        &-text {
            margin-top: 33px;
            margin-bottom: 24px;
        }
    }
}




@media (max-width:743px ) {
    .code-ws {
        &__text {
            top: -90px;
            padding-left: 0;
        }
        &__img--adapt {
            overflow: hidden;
            position: absolute;
            left: 0;
        }
    }

}
@media (max-width:685px ) {
    .code-ws__text {
        top: -85px;
        text-align: center;
    }
}

@media (max-width:505px ) {
    .revolution-button {
        margin-bottom: 120px;
    }
}





@media (max-width:480px) {
    .code-loop {
        flex-wrap: wrap;
        @include center;    
        h1 {
            justify-content: center;
        }
        &__before::before {
            font-size: 32px;
            padding-bottom: 36px;
            line-height: 38px;
            max-width: 230px;
            margin: 0 auto;
        }
        &__text {
            padding-top: 27px;
            padding-left: 0;
        }
    }
    .code-all__text {
        padding-left: 0;
    }
    

    .code-expriment__img, 
    .code-web__img {
        margin-left: 0px;
        margin-bottom: 22px;
    }
    .code-tool__img {
        margin-bottom: 21px;
    }

    .code-ws {
        margin-top: 64px;
        background-size: cover;
        &__text {
            position: absolute;
            font-size: 32px;
            line-height: 38px;
        }
    }

    .revolution {
        &-title {
            font-weight: 700;
            font-size: 26px;
            line-height: 28px;
        }
        &--text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 36px;
            text-align: center;
        }
        &-text {
            margin-top: 27px;
            margin-bottom: 36px;
        }
        &--inner {
            margin-bottom: 79px;
        }  
    }

}

