@media (max-width:1130px) {
    .price {
        &-card {
            flex-wrap: wrap;
            gap: 25px;
        }
        &-card__agency {
            margin-bottom: 94px;
        }
        &-title {
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
        }
        &-card {
            max-width: 800px;
            margin: 0 auto;
        }
        &-card__student {
            margin-top: 39px;
            margin-bottom: 5px;
        }
        &-card__agency {
            margin-top: 5px;
        }
    }
}


@media (max-width:600px) {
    .price-card {
        max-width: 400px;
        &__agency {
            margin-bottom: 18px;
            margin-top: 0;
        }
        &__student {
            margin-bottom: 18px;
            margin-top: 0;
        }
    }

    .price-title {
        padding-top: 14px;
        margin-bottom: 32px;
        &__h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 42px;
        }
    }
    .card-person {
        line-height: 28px;
    }
    .card-price {
        line-height: 62px;
    }
    
}