$black:#323232;
$black:#323232;
@mixin card-button{
    background: rgba(255, 255, 255, 0.15);
    padding: 15px 37px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 62px;
    color: #fff;
}

@mixin center{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
