@import 'libs/var';

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

// :focus,
// :active {
    // outline: none;
// }

// a:focus,
// a:active {
    // outline: none;
// }

html,
body {
    height: 100%;
    // min-width: $minWidth + px;
}

body {
    line-height: 1;
    // font-size: $fontSize;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

// ===========================OLD RESET====================
// html {
//     box-sizing: border-box;
// }

// *,
// *::after,
// *::before {
//     box-sizing: inherit;
// }

// ul[class],
// ol[class] {
//     padding: 0;
// }

// body,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// ul,
// ol,
// li,
// figure,
// figcaption,
// blockquote,
// dl,
// dd {
//     margin: 0;
// }

// ul[class] {
//     list-style: none;
// }

// img {
//     max-width: 100%;
//     display: block;
// }

// input,
// button,
// textarea,
// select {
//     font: inherit;
// }

// a {
//     text-decoration: none;
// }