@import '../media-footer_about.scss';
@import '../../base/mixins.scss';
@import '../../libs/var.scss';

.footer-about {
    background-image: url(../img/footer/about/about_background.jpg);
    background-size: 100% 100%;

.footer-about__content{
padding: 108px 8px 0;
flex-direction: column;
@include flex-center;

}
.footer-about__title {
    font-family: $fontFamilyMonts;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    text-align: center;
}
.footer-about__title::first-letter{
    text-transform: uppercase;
}

    &__title {
        font-family: $fontFamilyMonts;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #fff;
        text-align: center;
    }
    &__title::first-letter {
        text-transform: uppercase;
    }

    &__forks {
        padding: 81px 0 114px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 110px;
    }
    
    &__post {

        @include flex-center;
        flex-direction: column;
        max-width: 355px;
        color: #fff;
        padding: 0 10px;
    }

    &__post-title {
        padding-bottom: 2em;
    }
    &__post-text {
        text-align: center;
        font-family: $fontFamilyLato;
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
    }

    &__info {
        margin: 0 auto;
        max-width: 887px;
        position: relative;
        margin-bottom: 20px;
    }

    &__info::after {
        content: "";
        position: absolute;
        height: 2px;
        width: calc((100% - 20px) - 80px);
        background-color: #645766;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__info-text {
        font-family: $fontFamilyLato;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #A291A5;
    }
}