.burger-btn {
    visibility: hidden;
    cursor: pointer;
    width: 44px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 30px;

    &__icon {
        display: block;
        width: 26px;
        height: 3px;
        background-color: #fff;
        position: relative;
        border-radius: 5px;

        &--active {
            background-color: transparent;
        }
    }
}

.burger-btn__icon::after {
    content: "";
    display: block;
    width: 26px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -8px;
    border-radius: 5px;
}

.burger-btn__icon::before {
    content: "";
    display: block;
    width: 15px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    right: 0;
    border-radius: 5px;
}

.burger-btn__icon--active::after {
    transition: 0.3s ease-in-out;
    bottom: 0;
    transform: rotate(0.12turn);
}

.burger-btn__icon--active::before {
    transition: 0.3s ease-in-out;
    width: 26px;
    top: 0;
    transform: rotate(-0.12turn);
}