@import '../media-header.scss';
@import './../../libs/var.scss';
@import 'burger-btn.scss';

.header{
    background-image: url(../img/header/header-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #8D81AC;
    position: relative;
    
    &__menu{
        padding: 29px 0 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 21px;
    }

// box of header-logo after .header's styles

    &__menu-right {
        flex-wrap: wrap-reverse;
        width: 710px;
        font-family: $fontFamilyMonts;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
        justify-content: space-between;
    }

    &__nav {
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding-left: 15px;
        
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        width: 527px;
    }

    &__link::first-letter {
        text-transform: uppercase;
    }
}
    .header-logo {
        display: flex;
        align-items: center;
        column-gap: 17px;
        padding-right: 10px;

            &__img {
                fill: #8D81AC;
            }
            
            &__text {
                font-family: $fontFamilyLato;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 16px;
                text-transform: uppercase;
            }
    }
    


    .header__list--active{
        flex-direction: column;
        width: 293px;
        background-color: #333;
        position:absolute;
        top:105px;
        transition: ease-in 0.2s;
        padding: 13px 0;
    }
    .header__item--active{
        padding: 20px 0;
        position: relative;
        display: block;
    }
    .header__link--active{
        color: #fff;
        font-weight: 400;
        font-size: 26px;
        padding-left: 40px;
    }
    
    .header__link--active::after{
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color:#3B3B3B ;
    }
.header-btn {
    @include flex-center;

    background-color: #8D81AC;
    border-radius: 40px;
    font-family: $fontFamilyMonts;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 145px;
    height: 38px;
    

    &--right::first-letter {
        text-transform: uppercase;
    }
}

.header-banner {
    padding: 83px 83px 330px;

    &__app {
        @include flex-center;

        text-align: center;
        flex-direction: column;
        row-gap: 19px;
        margin-bottom: 476px;
    }

    &__title {
        font-family: $fontFamilyMonts;
        font-style: normal;
        font-weight: 700;
        font-size: 82px;
        color: #fff;
    }

    &__subtitle {
        font-family: $fontFamilyLato;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    &__device {
        font-family: $fontFamilyMonts;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #848E97;
    }

}


.header-download {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    bottom: -55px;
    transform: translateX(-50%);
    max-height: 104px;

    &__text {
        font-family: $fontFamilyMonts;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #848E97;
    }
}
.header-btn--download {
    width: 392px;
    font-size: 21px;
    padding: 23px 61px;
    margin-bottom: 19px;
    border:2px solid #8D81AC;
}

// ============= hover/focus =============

.header{
    &__link--active:hover{
        color: #8D81AC !important;
    }
    &__link--active:hover::before{
        content: "";
        width: 8px;
        height: 40px;
        background-color: #8D81AC;
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__link:hover{
        color: #fff;
                transition: 0.2s ease-in-out;
    }
    &__link:focus{
        color: #fff;
    }
}

    .header-logo:hover .header-logo__img{
        fill: #fff;
        transition: 0.2s ease-in-out;
    }
    .header-logo:hover .header-logo__text{
        color: #fff;
        transition: 0.2s ease-in-out;
    }


    .header-btn:hover{
        background-color: #fff;
        color: #8D81AC;
        transition: 0.2s ease-in-out;
        margin-top: 3px;
    }